.login {
  --panel-height: 32rem;
  --panel-width: 40rem;
  --input-height: 3.5rem;
  --button-height: 3.5rem;
  --input-icon-space: 3.5rem;
  --icon-base-height: 14px;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: var(--spacing-700);

  background-color: var(--clr-primary-100);

  & .panel {
    height: var(--panel-height);
    width: var(--panel-width);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--clr-neutral-100);
    border-radius: 1rem;

    padding: var(--spacing-800);

    & .title-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      margin-bottom: var(--spacing-900);

      & h1 {
        font-size: var(--fs-800);
        font-weight: var(--fw-semi-bold);
        color: var(--clr-primary-700);
      }

      & p {
        font-size: var(--fs-600);
        font-weight: var(--fw-regular);
        color: var(--clr-neutral-600);
      }
    }

    & form {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      gap: var(--spacing-500);

      & .input-wrapper {
        --ggs: 1.3;

        width: 100%;
        position: relative;

        & i {
          position: absolute;
          top: calc(
            (var(--input-height) - (var(--icon-base-height) / 2 * var(--ggs))) /
              2
          );
          left: calc(var(--input-icon-space) / 2 - var(--spacing-100));

          color: var(--clr-primary-400);
        }

        & .view-pass-btn {
          left: unset;
          top: calc(
            (var(--input-height) - (var(--icon-base-height) / 2 * var(--ggs))) /
              2.4
          );
          right: calc(var(--input-icon-space) / 2 - var(--spacing-100));
          cursor: pointer;
        }

        & input {
          width: 100%;
          height: var(--input-height);

          padding: var(--spacing-300) var(--input-icon-space);

          border-radius: 0.5rem;
          border-color: var(--clr-neutral-500);
          border-style: solid;

          font-size: var(--fs-500);
        }
      }

      & button {
        width: 100%;
        height: var(--button-height);

        color: var(--clr-neutral-100);
        background-color: var(--clr-primary-400);

        border: 0;
        border-radius: 0.5rem;

        cursor: pointer;
      }
    }
  }

  & .actions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: var(--spacing-200);

    & .action {
      font-size: var(--fs-500);
      font-weight: var(--fw-regular);
      color: var(--clr-neutral-700);
      font-weight: var(--fw-semi-bold);

      & a {
        cursor: pointer;
        text-decoration: none;
        color: var(--clr-primary-400);
      }
    }
  }
}
