.card {
  --card-height: 8rem;
  --card-width: 22rem;
  --btn-size: 1.5rem;
  --delta-width: 4rem;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);

  height: var(--card-height);
  width: var(--card-width);

  padding: var(--spacing-400);
  background-color: var(--clr-neutral-100);

  border: 1px solid var(--clr-neutral-500);
  border-radius: var(--border-radius-400);

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .title {
      font-size: var(--fs-400);
      color: var(--clr-neutral-600);
    }

    & button {
      cursor: pointer;
      border: none;
      height: var(--btn-size);
      width: var(--btn-size);
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .value {
      font-size: var(--fs-800);
      color: var(--clr-primary-700);
    }

    & .delta {
      --ggs: 0.75;

      display: flex;
      align-items: center;
      justify-content: center;

      width: var(--delta-width);
      border-radius: var(--border-radius-400);

      background-color: var(--clr-neutral-600);

      font-size: var(--fs-400);
      color: var(--clr-neutral-300);

      padding: var(--spacing-100);

      &.green {
        background-color: var(--clr-accent-100);
      }

      &.red {
        background-color: var(--clr-accent-700);
      }
    }
  }
}
