.page-layout {
  --sidebar-width: 16rem;

  height: 100%;
  width: 100%;

  display: flex;

  & aside {
    width: var(--sidebar-width);
    padding: var(--spacing-400);
  }

  & main {
    width: calc(100% - var(--sidebar-width));

    padding-top: var(--spacing-500);
    padding-left: var(--spacing-600);
    padding-right: var(--spacing-600);
    padding-bottom: var(--spacing-600);

    background-color: var(--clr-primary-100);
  }
}
